/*@keyframes animatedBackground {
    0% {
        background-position: 50% 0;
    }
    50% {
        background-position: 50% 13%;
    }
    100% {
        background-position: 50% 0;
    }
}

.home-mascot {
    animation: animatedBackground 5s ease-in-out infinite;
}*/

.head-container{
    display: flex;
    justify-content: center;
}
.imgHead-background {
    width: 90%;
    height: auto;
    object-fit: cover;
    margin-top: 5%;
}
